@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.App {
  font-family: 'Luxurious Roman', cursive;
  text-align: center;
  background-color: #282c34;
  color: #FFF;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.App-link {
  color: #61dafb;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}

.card {
  background: #e9e9ea;
  border-radius: 2px;
  overflow: hidden;
}
.card-header {
  background: #bebfc2;
  color: #282c34;
  padding: 0.75rem 0.5rem;
}
.card-body {
  padding: 2rem;
}

.vh-100 {
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
